{% extends "blog_main.html" %}

{% block link %}
    <link href="/static/blog_main/css/about_me.css" rel="stylesheet">
{% endblock  %}

{% block article %}
    <div class="container">
        <div class="banner">
            <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
            <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
            <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
        </div>
        <div class="memorial_day">
            <div class="time_axis"></div>
            <ul>
                <li class="n1"><a href="#">呱呱坠地</a>
                    <div class="dateview">1998-10-08</div>
                </li>
                <li class="n2"><a href="#">I’have a dream~~</a>
                    <div class="dateview">2002-06-01</div>
                </li>
                <li class="n3"><a href="#">接触初中</a>
                    <div class="dateview">2009-06-25</div>
                </li>
                <li class="n4"><a href="#">来到了高中</a>
                    <div class="dateview">2012-06-08</div>
                </li>
                <li class="n5"><a href="#">进入了大学</a>
                    <div class="dateview">2017-09-08</div>
                </li>
            </ul>
        </div>
        <div class="about left">
            <h2>About me</h2>
            <ul>
               <p>  向昌鑫，男，90后，生活在当代的我们难免对生活有些抱怨。04年那年我6岁，我的爸妈将我送到了远离家的私立学校。开始难免会悲伤，因为我将有半个月见不到我自己最亲的人，但是我的班主任和宿管阿姨支撑着我度过了那悲伤的时期，我开始放开自己的内心，开始接触同学与老师。之后的一年，我很开心，我调皮过（偷偷跑到学校食堂后厨找主厨要吃的），生气过。然后时间渐渐流逝，到了06年，那天晚上，我接到了家里的电话，我爸告诉我，他和妈离婚了，我很伤心，悲痛欲绝。哭了一晚上。</p>
               <p>  慢慢的我长大了，但是我也渐渐的封闭了自己内心，我明白父母离异是因为他们继续在一起只会更糟，我是狮子座的男生，我有着细腻的感情，所以直到我上高中，我也只能把那段经历深深的埋藏在自己的心中</p>
            </ul>
{% endblock  %}