{% extends "blog_main.html" %}

{% block link %}
<link href="/static/blog_main/css/blog_page.css" rel="stylesheet">
{% endblock %}

{% block article %}
<div class="container">
    <div class="blog_page_view">
        <h1>详细博文</h1>
        {% for blogs in page_of_blogs %}
            {{blogs.content|safe}}
        {% endfor %}
        <h1>留言评论</h1>
    </div>
    <div class="page">
        <!-- 第一页 -->
        <a href="?page=1">&lt;&lt;</a>
        <!-- 上一页 -->
        {% if page_of_blogs.has_previous %}
        <a href="?page={{page_of_blogs.previous_page_number}}">&lt;</a>
        {% else %}
        <a href="#">&lt;</a>
        {% endif %}
    
        {% for page_num in page_range %}
        {% if page_num == page_of_blogs.number %}
            <a id="select_page" href="?page={{page_num}}" style="background-color:#21566f">{{page_num}}</a>
        {% else %}
            <a href="?page={{page_num}}">{{page_num}}</a>
        {% endif %}
        {% endfor %}
        <!-- 下一页 -->
        {% if page_of_blogs.has_next %}
        <a href="?page={{page_of_blogs.next_page_number}}">&gt;</a>
        {% else %}
        <a href="">&gt;</a>
        {% endif %}
        <!-- 最后一页 -->
        <a href="?page={{blog_all_list.count}}">&gt;&gt;</a></div>
        <p style="text-align:center">
            共有{{paginator.count}}篇博客，
            当前是第{{page_of_blogs.number}}页，共{{paginator.num_pages}}页
        </p>
</div>
{% endblock %}