<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>向昌鑫的个人博客</title>
  {% comment %}
  <meta name="keywords" content="" />
  <meta name="description" content="" /> {% endcomment %}
  <link href="/static/blog_main/css/base.css" rel="stylesheet">
  <link href="/static/blog_main/css/index.css" rel="stylesheet">
  <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
  <script src="/static/blog_main/js/scrollReveal.js"></script>
</head>

<body>
  <header>
    <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/blog_main/"><img src="/static/blog_main/images/logo.png"></a></div>
    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s"><a href="index.html"><span>首页</span><span
          class="en">Home</span></a><a href="about.html"><span>关于我</span><span class="en">About</span></a><a href="manshenghuo.html"><span>慢生活</span><span
          class="en">Life</span></a><a href="learn.html"><span>碎言碎语</span><span class="en">Doing</span></a><a href="mbfx.html"><span>模板分享</span><span
          class="en">Share</span></a><a href="learn.html"><span>学无止境</span><span class="en">Learn</span></a><a href="gbook.html"><span>留言</span><span
          class="en">Saying</span></a></nav>
  </header>
  <article>
    <div class="container">
      <div class="blog" data-scroll-reveal="enter top">
        {% for news in new %}
        <figure>
          <ul>
            <a href="/"><img src="/{{news.img_url}}"><span>观看全部博文</span></a>
          </ul>
          <p><a href="/">{{news.title}}</a></p>
          <figcaption>{{news.content|striptags|truncatechars:120}}...</figcaption>
        </figure>
        {% endfor %}
      </div>
      <ul class="cbp_tmtimeline">
      {% comment %} 在这里写博文的简略浏览 {% endcomment %}
      {% for blogs in blog %}
        <li>
          {% comment %} 时间和作者 {% endcomment %}
          <time class="cbp_tmtime"><span>{{blogs.pub}}</span><span>{{blogs.author}}</span></time>
          <div class="cbp_tmicon"></div>
          <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
            {% comment %} 博客标题 {% endcomment %}
            <h2>{{blogs.title}}</h2>
            {% comment %} 博客内容。对应图片。链接地址 {% endcomment %}
            <p><span class="blogpic"><a href="{{blogs.page_url}}"><img src="/{{blogs.img_url}}"></a></span>{{blogs.content|striptags|truncatechars:120}}...</p>
            <a href="{{blogs.page_url}}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </article>
  <script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
      (function () {
        window.scrollReveal = new scrollReveal({ reset: true });
      })();
    };
  </script>
</body>

</html>

