<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员注册界面</title>
<link rel="stylesheet" type="text/css" href="/static/login/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/login/css/body.css"/>
<script src="/static/login/js/jquery-1.11.3.js"></script>
<script src="/static/login/js/register.js"></script>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="/register/" method="POST">
			{% csrf_token %}
			<h1>会员注册</h1>
			<div>
				<input type="text" placeholder="用户名称" required="" name="username" />
				<br>
				<span id="username-tip" style="color:red">{{ errMsg }}</span>
			</div>
			<div>
				<input type="text" placeholder="邮箱" required="" name="email" />
				<br>
				<span id="email-tip" style="color:red">{{ errMsg }}</span>
			</div>
			<div>
				<input type="number" placeholder="年龄" required="" name="age" />
			</div>
			<div>
				<input type="url" placeholder="个人主站地址" required="" name="myurl" />
				<br>
				<span id="myurl-tip" style="color:red">{{ errMsg }}</span>
            </div> 
			<div>
				<input type="password" placeholder="密码" required="" name="password" />
            </div>
            
			<div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			</div> 

			<div>
				<input type="submit" value="注册" class="btn btn-primary" id="js-btn-login"/>
			</div>
			<div>
				<a href="{% url 'login' %}" id="changepage" style="font: bold 15px Helvetica, Arial, sans-serif;color: #85592e;
				text-decoration: none;margin: 20px 0 35px 15px; padding:10px;">我有账号我要登录</a>
			</div>
		</form><!-- form -->
		
	</section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
</body>
</html>